/* Meu Footer principal */
.footer {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #06523b; 
  color: white;
  text-align: center;
  padding: 15px 0 10px 0;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.footer p {
  margin: 5px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.socialArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 12px;
  flex-wrap: wrap;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;
  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;
  text-decoration: none;
  color: #fff;
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
}

.linkedin {
  background-color: rgba(10, 102, 194, 0.6);
}
.linkedin:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(0, 0, 0, 0.5),
    0 0 12px rgba(10, 102, 194, 0.6);
  color: #0a66c2;
  transform: translateY(-0.25rem);
  background-color: rgba(238, 238, 238, 0.8);
}

.github {
  background-color: rgba(0, 0, 0, 0.4);
}
.github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08),
    0 0 12px rgba(252, 232, 3, 0.2);
  color: #000000;
  transform: translateY(-0.25rem);
  background-color: rgb(255, 255, 255);
}

.icon {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px 0 8px 0;
  }

  .btn {
    padding: 0.5rem 0.8rem;
    font-size: 0.75rem;
  }

  .icon {
    font-size: 1rem;
  }

  .footer p {
    font-size: 12px;
  }
}
