/* começa invisível e levemente deslocado */
.scroll_reveal {
  opacity: 0;
  transform: translateY(20px);
  filter: blur(4px);
  transition: 
    opacity 0.7s ease,
    transform 0.7s ease,
    filter 0.7s ease;
}

/* quando entra na tela */
.scroll_reveal.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
.scroll_reveal.delay-0 {
  transition-delay: 0s;
}