* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: none; 
}
